<html>
<head>
	<title>Animation Demo</title>
</head>
<body>

	<h1>WebSocket/Canvas Demo</h1>
	<p id="browserIdNode">Browser ID: </p>
	<button id="demoToggleButton">Demo Off</button>
	<canvas id="demoCanvas" height="0" width="0"></canvas>

	<script type="text/javascript">
		var browserId = Math.floor(Math.random()*1000000000000);
		document.getElementById('browserIdNode').innerHTML += browserId;
		var canvasWidth = document.width;
		var canvasHeight = document.height;

		var canvas = document.getElementById('demoCanvas');

		canvas.setAttribute('width', canvasWidth);
		canvas.setAttribute('height', canvasHeight);


		var ctx = canvas.getContext('2d');
		ctx.fillStyle = "black";

		ctx.translate(canvasWidth/2, canvasHeight/2);

		var snakeHeight = 10;
		var snakeWidth = 10;

		var snakeLocation = {
			row: 0,
			col: 0
		}

		var drawSnake = function(){
			ctx.fillRect(snakeLocation.col, snakeLocation.row, snakeWidth, snakeHeight);
		}

		var moveSnake = function(){
			if (snakeLocation.col>canvasWidth/10){
				// the snake has left our window - move it to the other screen and clear this canvas
				window.clearInterval(window.localSnakeAnimation);
				var remoteStart = JSON.stringify({
					instruction: "start",
					browserId: browserId
				});

				ws.send(remoteStart);

				ctx.save();
				ctx.translate(canvasWidth/2, canvasHeight/2);

				ctx.fillStyle = "white";
				ctx.fillRect(0,0, canvasWidth, canvasHeight);
				ctx.restore();


			}

			snakeLocation.col ++;
			drawSnake();
		}

		var startAnimation = function(){
			window.localSnakeAnimation = window.setInterval(moveSnake, 10);
		}

		var domain = document.domain;
		// in case the page is being rendered locally
		if (domain==''){
			var domain = "moshebildner.com";
		}

		var ws = new WebSocket('ws://' + domain + '/chatsocket');

		ws.onerror = function(error){
			console.log(error);
		}

		ws.onmessage = function(message){
			var instructionObject = JSON.parse(message.data);

			if ((instructionObject.instruction=="start") && (instructionObject.browserId != browserId)){
				startAnimation();
			}
		}

		var demoToggleButton = document.getElementById('demoToggleButton');
		demoToggleButton.addEventListener("click", startAnimation);

	</script>

</body>
</html>