<html>
<head>
	<title>PyChat</title>
</head>
	<p>Say something:</p>
	<input id="messageInput"></input>


	<h2>{{ g.userid }}</h2>
	<ul id="online">

	</ul>

	<p>Incoming Messages:</p>
	<textarea id="incomingMessages"></textarea>

<body>
	<script type="text/javascript">
		var onlineusers = [];

		var userid = "{{ g.userid }}";

		var onlineList = document.getElementById('online');

		function registerUser (username) {
			var li = document.createElement('li');
			var button = document.createElement('button');

			button.innerHTML = username;

			button.onclick = function () {
				var messageInput = document.getElementById('messageInput');
				var message = messageInput.value;

				ws.send(JSON.stringify({
					'target': this.innerHTML,
					'payload': message
				}));
			}


			li.appendChild(button);
			onlineList.appendChild(li);
		}

		var wsurl = "ws://localhost:8000/websocket/" + userid;

		ws = new WebSocket(wsurl);

		ws.onmessage = function (m) {
			var message = JSON.parse(m.data);

			var serverorders = message.serverorders;

			if (serverorders==="newusers") {

			while (onlineList.children.length > 0) {
				onlineList.removeChild(onlineList.children[0]);
				}

				message.newusers.forEach(function (user) {
					registerUser(user);
				});

			} else {
				var message = message.payload;
				console.log(message);
				var incomingMessages = document.getElementById('incomingMessages');
				incomingMessages.value = message + '\n' + incomingMessages.value;

			}

		}

		ws.onopen = function () {
			// 
		}



	</script>
</body>
</html>