<html>
<head>
	<title>Welcome home</title>
</head>
<body>
	<h1>Hello world</h1>

	<ul id="messageList"></ul>

	<p>Send a message</p>
	<input id="messageInput" type="text"></input>
	<button onclick="sendMessage();">Send that shit yo</button>

	<script>
		var domain = document.location.domain;
		var ws = new WebSocket('ws://' + domain + '/chatsocket');
		// var ws = new WebSocket('ws://127.0.0.1:/chatsocket');

		var sendMessage = function(){
			var messageInput = document.getElementById('messageInput');
			var message = messageInput.value;
			messageInput.value = '';

			ws.send(message);

		};

		ws.onopen = function(){
			ws.send("hello to the server");
		};

		ws.onmessage = function(response){
			var messageList = document.getElementById('messageList');
			var messageNode = document.createElement('li');
			messageNode.innerHTML = response.data;

			messageList.appendChild(messageNode);
		};


	</script>

</body>
</html>