<html>
<head>
	<title>Snake Game</title>

</head>
<body>
	<h3 style="background-color: lime;">You are Lime Green</h3>
	<h3> Eat the blue food, and don't hit anything else.</h3>
	<canvas id="snakeGameCanvas" width="450" height="450"></canvas>

	<br></br>
	<label for="speedInput"></label>

	<select name="speedInput" id="speedInput" value="500">
		<option value="50">10</option>
		<option value="100">9</option>
		<option value="150">8</option>
		<option value="200">7</option>
		<option value="250">6</option>
		<option value="300">5</option>
		<option value="350">4</option>
		<option value="400">3</option>
		<option value="450">2</option>
		<option value="500">1</option>
	</select>


	<button style="width: 200px; height: 50px" id="toggleGameButton"></button>

	<script type="text/javascript" src="{{url_for('static', filename='simpleSnake.js')}}"></script>

</body>
</html>
